<script src="https://unpkg.com/vue"></script>
<div id="app">
    <input type="checkbox" id="jack" value="Soccer" v-model="hobby">
    <label for="Soccer">Soccer</label>
    <input type="checkbox" id="john" value="Baseball" v-model="hobby">
    <label for="Baseball">Baseball</label>
    <input type="checkbox" id="mike" value="Basketball" v-model="hobby">
    <label for="Basketball">Basketball</label>
    <br>
    <span>Checked names: {{ hobby }}</span>
</div>
<!-- checkbox의 v-model이 배열일 경우 checkbox의 value와 연결된다. -->
<script>
    new Vue({
        el: "#app",
        data: {
            hobby: ["Basketball"]  //기본으로 체크되어 있음
        }
    });
</script>
