<!<!DOCTYPE html>
  <<!DOCTYPE html>
  <html lang="ko" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title></title>
      <script src="https://unpkg.com/vue"></script>
      <script>
        new Vue({
          el: "#app",
          data: {
            hobbyOpt: [A,B,C],
            hobby: {''}
          }
        });
      </script>

    </head>
    <body>
        <table id="app">
          <tr>
            <td>취미</td>
            <td>
              <label :for="item" v-for="item in hobbyOpt" :style="{marginRight: '30px'}">
              {{item}}
              <input type="checkbox" v-model="hobby" :id="item" name="hobby" :value="item">
            </label>
            </td>
          </tr>
          <tr>
            <td>성별</td>
            <td>
            <label for="item" v-for="item in grnderOpt" :style="{marginRight: '30px'}">{{item}}
              <input type="radio" v-model="gender" :id="item" name="gender" :value="item">
            </label>
          </td>
          </tr>
          <tr>
            <td>전화번호</td>
            <td>

            </td>
          </tr>
        </table>
    </body>
  </html>
